@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Press Start";
  src: url("./fonts/PressStart2P.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  background: #111111;
  font-family: "Press Start";
  color: #fff;
}

.logo {
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(253, 187, 45, 1) 40%,
      rgba(255, 255, 255, 1) 50%,
      #5187db 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.infinite-landscape {
  background: url("/bg.png") repeat-x;
  background-size: contain;
  animation: infinite-landscape 15s linear infinite;
  max-width: 800px;
  margin: 0 auto;
}

@keyframes infinite-landscape {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  }
}