@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 10rem;
    height: 10rem;
    border: 2.3rem solid #f3f3f3;
    border-top: 2.3rem solid #383636;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}